.form {
  margin-top: 40px;
  border-top: 0.5px solid var(--light-color);
  margin-bottom: 120px;

  & > h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: var(--second-font);
    font-size: 20px;
    color: var(--gray-color);
  }

  & > input,
  select {
    background: #fff;
    color: var(--gray-color);
    font-family: var(--second-font);
    font-size: 16px;
    border: 0.5px solid var(--light-color);
    border-radius: 4px;
    width: 30%;
    margin-right: 34px;
    padding: 8px 12px;
  }

  & > select {
    max-width: 20%;
  }
}

.btn-add-book {
  font-size: 13px;
  padding: 8px 12px;
  height: 36px;
  width: calc(20% - 102px);
}
