:root {
  --main-font:  'Roboto Slab', serif;;
  --second-font: 'Montserrat', sans-serif;;

  --blue-color: #0290ff  ;
  --alt-blue-color: #4386bf  ;
  --dark-color: #121212;
  --gray-color: #888888;
  --light-color: #d6d6d6;

  --font-size-xxl: 32px;
  --font-size-xl: 30px;
  --font-size-l: 22px;
  --font-size-b: 16px;
  --font-size-s: 13px;
}